@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

.container {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: space-between;
  font-family: "Raleway", sans-serif;


}


