.title {
  font-size: 60px;
  padding: 3% 5%;
  font-weight: 600;
  font-family: "Orienta", sans-serif;
}

.temp {
    font-size: 50px;
    float: right;
}

.tag {
  text-align: center;
}

.weatherCard {
   color: white;
   height: auto;
   margin: 5% 4%;
   width:  50%;
   background-color: black;
}
